* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --box-shadow: inset 4px 4px 15px 0px #000000;
  --table-background: #c0c0c0;
  --text-color: #000000;
  --background-color: #dddddd;
  --border-color: 1px solid #000000;
}

[theme="dark"] {
  --box-shadow: inset 4px 4px 15px 0px rgba(207, 202, 202, 0.904);
  --table-background: #636363;
  --text-color: #fafafa;
  --background-color: #000000;
  --border-color: 1px solid #ffffff;
}
body {
  font-family: "Felipa", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-image: url("../img/house.png");
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: var(--text-color);
}

/* Slider styling */

.theme-slider {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-slider input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-round {
  background-color: #000000;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  border-radius: 34px;
}

.slider-round:before{
  background-color: #a5a3a3;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
  border-radius: 50%;
}

input:checked+.slider-round{
  background-color: #ffffff;
}

input:checked+.slider-round:before{
  transform: translateX(26px);
}


.up-arrow {color: transparent; text-decoration: none; display: inline-block; width: 1em; height: 1em; overflow: hidden;}
.up-arrow::before {content: "\2B85"; color: blue; position: absolute;}
.mail-icon {color: transparent; text-decoration: none; display: inline-block; width: 1em; height: 1em; overflow: hidden;}
.mail-icon::before {content: "\2709"; color: blue; position: absolute;}

.visually-hidden {
  border: 0;
  clip-path: inset(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.visually-hidden:focus,
.visually-hidden:focus-visible {
  clip-path: none;
  height: auto;
  width: auto;
  margin: 0;
  padding: 10px 14px;
  position: absolute;
  left: 10px;
  top: 10px;
  background: #ffffff;
  color: #172635;
  z-index: 9999;
  border-radius: 6px;
}

header.primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--background-color);
  text-align: center;
  padding: 30px;
}

.theme-switch-container{
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: flex-end;
}

p.subtitle{
  margin-bottom: 15px;
}

header.primary a{
  color: var(--text-color);
  text-decoration: none;
}

nav.primary{
  width: 100%;
}
nav.primary ul{
  padding:0px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap:20px;
}

nav.primary ul li{
  list-style-type: none;
  flex:1;
}

nav.primary ul li a{
  background-color: rgba(247, 247, 247, 0);
  padding: 3px 15px;
  border: var(--border-color);
  border-radius: 60px 50px 60px 50px;
  display:block;
}

nav.primary ul li a:hover {
  background-color: rgba(114, 106, 106, 0.514);
  transform: scale(1.1); 
}

main.container{
  max-width: 75%;
  margin: 0 auto;
}

#the-plot{
  display: grid;
  background-color: var(--background-color);
  margin: 30px;
  grid-template-columns: min-content 1fr;
  text-align: left;
  gap: 1rem;
  box-shadow: 5px 5px 20px;
  border-radius: 10px;
  max-height: 200px;
  overflow: auto;
  position: relative;
  box-shadow: var(--box-shadow);
}

#the-plot img{
  width: auto;
  grid-area: 1 / 1 / 3 / 2;
  border-radius: 10px 0px 0px 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#the-plot h2{
  margin-bottom: 0;
  grid-area: 1 / 2 / 2 / 3;
  padding-top: 30px;
}

#the-plot p{
  padding-right: 5px;
  grid-area: 2 / 2 / 3 / 3;
}

h2.blog-title{
  background-color: var(--background-color);
  width: 100%;
  border-radius: 10px;
  grid-area: 1 / 1 / 2 / 4;
  box-shadow: var(--box-shadow);
  padding: 5px;
}

div.evidence {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.doyle-picture, .christie-picture, .sherlock-outline, .ustinov-picture{
  border: 3px double;
}

article.creators{
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  margin: 10px;
  background-color: var(--background-color);
  grid-area: 1 / 1 / 2 / 5;
  padding: 5px;
}

article.creators p{
  margin: 5px;
}

article.holmes{
  background-color: var(--background-color);
  box-shadow: 5px 5px 20px;
  border-radius: 10px;
  margin: 10px;
  grid-area: 2 / 1 / 3 / 3;
  box-shadow: var(--box-shadow);
  padding: 5px;
}

article.holmes p{
  margin: 5px;
}

article.poirot{
  box-shadow: 5px 5px 20px;
  border-radius: 10px;
  background-color: var(--background-color);
  margin: 10px;
  grid-area: 2 / 3 / 3 / 5;
  box-shadow: var(--box-shadow);
  padding: 5px;
}

article.poirot p{
  margin: 5px;
}

#works h2{
  background-color: var(--background-color);
  border-radius: 10px;
  margin: 10px;
}

caption{
  background-color: var(--background-color);
  border-radius: 5px;
  margin: 5px;
  text-decoration: underline;
  font-weight: bold;
  width: auto;
  font-size: 20px;
}

table{
  width: 75%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

th{
  background-color: var(--table-background);
}

tr:nth-child(even){
  background-color: var(--table-background);
  padding: 5px;
  border-radius: 5px;
}

tr:nth-child(odd){
  background-color:var(--background-color);
  padding: 5px;
  border-radius: 5px;
}

tr:hover td{
  background-color: #2e6b5e;
  color:#dddddd;
}

p.main-note{
  background-color: var(--background-color);
  padding: 5px;
  border-radius: 5px;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}

#works h3{
  background-color: var(--background-color);
  padding: 5px;
  border-radius: 5px;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}

#works ul{
  background-color: var(--background-color);
  border-radius: 5px;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  list-style-type: none;
  padding-bottom: 5px;
}

#works ul li:not(:last-child){
  margin-bottom: 7px;
  border-bottom: 4px double;
  padding-bottom: 7px;
}


#quotes{
  background-color: var(--background-color);
  padding: 5px;
  border-radius: 5px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 0;
  text-decoration: underline;
}
#quotes h4{
  padding-bottom: 5px;
}

#quotes blockquote{
  padding-bottom: 5px;
}


#comments {
  margin-top: 10px;
  background-color: var(--background-color);
}

form, footer{
  background-color: var(--background-color);
}

/* Creators page CSS */

#creators-intro{
  background-color: var(--background-color);
  width: 75%;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 10px;
}

article.doyle-intro-container{
  display: grid;
  background-color: var(--background-color);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  width: 75%;
  margin: 5px auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: auto;
  padding: 10px;
}

p.doyle-intro{
  grid-area: 2 / 2 / 3 / 3;
  padding: 5px;
  text-align: left;
}

#main-content h3.doyle-intro{
  grid-area: 1 / 1 / 2 / 3;
  margin: 5px;
}

figure.doyle-intro{
  grid-area: 2 / 1 / 3 / 2;
  margin-bottom: 5px;
}

.doyle-statue, .christie-statue{
  border: 3px double;
}

article.christie-intro-container{
  display: grid;
  background-color: var(--background-color);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  width: 75%;
  margin: 5px auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: auto;
  padding: 10px;
  
}

p.christie-intro{
  grid-area: 2 / 1 / 3 / 2;
  padding: 5px;
  text-align: right;
}

#main-content h3.christie-intro{
  grid-area: 1 / 1 / 2 / 3;
  margin: 5px;
}

figure.christie-intro{
  grid-area: 2 / 2 / 3 / 3;
  margin-bottom: 5px;
}

/* Sherlock Page */

#sherlock-intro{
  background-color: var(--background-color);
  width: 75%;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 10px;
}

article.sherlock-page-container{
  display: grid;
  background-color: var(--background-color);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  width: 75%;
  margin: 5px auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: auto;
  padding: 20px;
  gap: 10px;
}

#main-content h3.sherlock-page{
  grid-area: 1 / 1 / 2 / 3;
}

p.sherlock-page-p1{
  grid-area: 2 / 2 / 3 / 3;
  text-align: left;
  padding-top: 40px;
  font-size: 18px;
}

figure.sherlock-page{
  grid-area: 2 / 1 / 4 / 2;
  margin-right: 15px;
}

img.sherlock-statue{
  border: 3px double;
}

ol.sherlock-page-list{
  grid-area: 3 / 2 / 4 / 3;
  list-style-type: upper-roman;
  margin-left: 35px;
  text-align: left;
  font-size: 18px;
  padding: 0 0 20px;
}

p.sherlock-page-p2{
  grid-area: 4 / 1 / 5 / 3;
  font-size: 18px;
}

/* Poirot Page */

#poirot-intro{
  background-color: var(--background-color);
  width: 75%;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 10px;
}

article.poirot-page-container{
  display: grid;
  background-color: var(--background-color);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  width: 100%;
  margin: 5px auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: auto;
  padding: 20px;
  gap: 10px;
}

#main-content h3.poirot-page{
  grid-area: 1 / 1 / 2 / 3;
}

figure.poirot-figure1{
  grid-area: 2 / 1 / 3 / 2;
}

figure.poirot-figure2{
  grid-area: 2 / 2 / 4 / 3;
}

.poirot-art, .poirot-obit{
  border: 3px double;
}

p.poirot-page-p{
  grid-area: 3 / 1 / 4 / 2;
  text-align: left;
}

/* Recommendations page */

.recommend-title{
  background-color: var(--background-color);
  width: 75%;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 10px;
}

img.slick{
    max-width:100%;
    min-width: 302px;
    min-height: 466px;
    margin: 0 auto;
    border: 3px double;
}

.fade-container{
    margin:auto;
    width:70vw;
    /* Set Max Content Width */
    max-width:700px;
}

/* Customize Previous/Next/Dots/Autoplay */

.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: rgb(133, 133, 133);
}

/* Customize Previous/Next/Dots/Autoplay - Active State */

.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
    color:rgb(255, 255, 255);
}

.recommendation-container p{
  background-color: var(--background-color);
  width: 75%;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 10px;
}

/* About me page */

main.aboutme-container{
  background-color: var(--background-color);
  font-size: 20px;
  width: 50%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto;
}

article.aboutmeinfo{
  grid-area: 1 / 1 / 2 / 3;
}
.img-center{
  border-style: inset;
  border-width: 4px;
}

figure.ualrimg{
  margin: 20px;
}

#main-content h3{
  grid-area: 2 / 1 / 3 / 3;
}

.emailform{
  grid-area: 3 / 1 / 4 / 3;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

label.fname{
  grid-area: 1 / 1 / 2 / 2; 
}

label.lname{
  grid-area: 1 / 2 / 2 / 3;
}

label.email{
  grid-area: 2 / 1 / 3 / 3;
}

label.message{
  grid-area: 3 / 1 / 4 / 3;
}

label.message textarea{
  width: 75%;
  min-height: 100px;
  padding: 5px;
}

button.emailbutton{
  grid-area: 4 / 1 / 5 / 3; 
  color: var(--text-color);
  border: var(--border-color);
  background-color: var(--background-color);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
}

@media screen and (max-width: 900px) {
  div.evidence{
    grid-template-columns: 1fr 1fr;
  }

  main.container, table, .aboutme-container{
    width: 90%;
  }
}

@media screen and (max-width:600px) {

  .container, .doyle-intro, .christie-intro, .sherlock-page-container, .poirot-page-container, .aboutme-container{
    width: 95vw;
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  div.evidence{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  nav.primary ul{
    flex-direction: column;
    gap: 20px;
  }

  nav.primary ul li{
  width: 100%;
}
  #the-plot img{
    position: static;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }

  p.doyle-intro, p.christie-intro, p.sherlock-page-p1{
    text-align: left;
    padding: 10px 0;
  }

}


